{% extends 'siteapp/base.html' %}

{% block extra-css %}
{{ block.super }}
<style>
    p {
        text-align: justify;
    }
</style>

{% if active_bolum.resim %}
<style>
    #siteContent {
        background-image: url("{{ active_bolum.resim.url }}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-overlay {
        background: rgba(255, 255, 255, 0.75);
        padding: 5px;
    }
</style>
{% endif %}
{% endblock %}

{% block sidenav-links %}
{% for fakulte in fakulteler %}
<a class="list-group-item list-group-item-action {% if fakulte == active_bolum.bolum %}active{% endif %}"
    href="{% url 'siteapp:fakulte_bolum_list' pk=fakulte.pk %}">{{ fakulte.baslik }}</a>
<ul class="list-group bg-secondary fakulte pl-4">
    {% for bolum in fakulte.bolum_set.all %}
    <a href="{% url 'siteapp:bolum_detail' pk=bolum.pk %}"
        class="list-group-item list-group-item-action {% if bolum == active_bolum %}active{% endif %}">{{ bolum.baslik }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}

{% block siteapp_content %}

<div class="image-overlay">
    <h1>{{ active_bolum.baslik }}</h1>

    {% if active_bolum.resim %}

    {% endif %}


    {% autoescape off %}
    {{ active_bolum.yazi }}
    {% endautoescape %}


    {% if active_bolum.telefon %}
    <p>
        <a class="btn btn-disabled">
            <i class='fas fa-phone' style="font-size: 20pt;"></i>
            : {{active_bolum.telefon}}

        </a>
    </p>
    {% endif %}


    {% if active_bolum.bolum_mail %}
    <p>
        <a class="btn" href="mailto:{{active_bolum.bolum_mail}}" target="_blank">
            <i class='fas fa-envelope' style="font-size: 20pt;"></i>
            : {{active_bolum.bolum_mail}}
        </a>
    </p>
    {% endif %}
    {% if active_bolum.fakulte_mail %}
    <p>
        <a class="btn" href="mailto:{{active_bolum.fakulte_mail}}" target="_blank">
            <i class='fas fa-envelope' style="font-size: 20pt;"></i>
            : {{active_bolum.fakulte_mail}}
        </a>
    </p>
    {% endif %}


    {% if active_bolum.web_sitesi %}
    <p>
        <a class="btn" href="{{active_bolum.web_sitesi}}" target="_blank">
            <i class='fas fa-globe-americas' style="font-size: 20pt;"></i>
            : {{active_bolum.web_sitesi}}
        </a>
    </p>
    {% endif %}


    {% if active_bolum.facebook_hesap %}
    <p>
        <a class="btn" href="{{active_bolum.facebook_hesap}}" target="_blank">
            <i class='fab fa-facebook' style="font-size: 20pt;"></i>
            : {{active_bolum.facebook_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_bolum.twitter_hesap %}
    <p>
        <a class="btn" href="{{active_bolum.twitter_hesap}}" target="_blank">
            <i class='fab fa-twitter' style="font-size: 20pt;"></i>
            : {{active_bolum.twitter_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_bolum.instagram_hesap %}
    <p>
        <a class="btn" href="{{active_bolum.instagram_hesap}}" target="_blank" style="color:black;">
            <i class='fab fa-instagram' style="font-size: 20pt; "></i>
            : {{active_bolum.instagram_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_bolum.youtube_hesap %}
    <p>
        <a class="btn" href="{{active_bolum.youtube_hesap}}" target="_blank" style="color:red;">
            <i class='fab fa-youtube' style="font-size: 20pt; "></i>
            : {{active_bolum.youtube_hesap}}
        </a>
    </p>
    {% endif %}



    {% if active_bolum.linkedin_hesap %}
    <p>
        <a class="btn" href="{{active_bolum.linkedin_hesap}}" target="_blank">
            <i class='fab fa-linkedin' style="font-size: 20pt; "></i>
            : {{active_bolum.linkedin_hesap}}
        </a>
    </p>
    {% endif %}

    {% if active_bolum.sunum %}
    <br>
    <div class="row justify-content-center">
        <a href="{{ active_bolum.sunum.url }}" class="btn btn-outline-primary " target="_blank">Bölüm
            sunum dosyası için tıklayınız</a>
    </div>
    {% endif %}
    <br>


    {% if active_bolum.youtube_video %}
    {% autoescape off %}
    {{ active_bolum.youtube_video }}
    {% endautoescape %}
    {% endif %}

    <br>




</div>
{% endblock %}