{% extends 'siteapp/base_birim_bolumler.html' %}
{% load static %}

{% block sidebar_kapak %}
    {% if active_fakulte.kapakfoto %}{{ active_fakulte.kapakfoto.url }}{% endif %}
{% endblock %}

{% block siteapp_content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'siteapp:fakulte_list' %}">Lisans Programları</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'siteapp:fakulte_bolum_list' pk=active_fakulte.pk %}">{{ active_fakulte }}</a></li>
        </ol>
    </nav>

    <h5>Bölümler</h5>

    <div class="row justify-content-center justify-content-md-start">
        {% for bolum in active_fakulte.bolum_set.all %}

            <a class="bolum_btns" href="{% url 'siteapp:bolum_detail' pk=bolum.pk %}"
               {% if bolum.thumbnail %}style="background-image: url({{ bolum.thumbnail.url }})" {% endif %}>
                <h2>{{ bolum.baslik }}</h2>
                <div class="bolum_btns_overlay">
                </div>
            </a>

        {% endfor %}
    </div>


        {% if active_fakulte.sunum %}
            <br>
            <div class="row justify-content-center">
                <a href="{{ active_fakulte.sunum.url }}" class="btn btn-outline-primary " target="_blank">Fakülte
                    sunum dosyası için tıklayınız</a>
            </div>
        {% endif %}

{% endblock %}