{% extends 'siteapp/base.html.html' %}

{% block sidenav-links %}
    {% for fakulte in fakulteler %}
        <a href="{% url 'siteapp:fakulte_bolum_list' pk=fakulte.pk %}"
           class="list-group-item list-group-item-action {% if fakulte == active_fakulte %}active{% endif %}">{{ fakulte }}</a>
    {% endfor %}

{% endblock %}



{% block siteapp_content %}

    <h3>{{ active_fakulte.baslik }}</h3>
    <h5>Bölümler</h5>
    <ul>
        {% for bolum in active_fakulte.bolum_set.all %}
            <li><a href="{% url 'siteapp:bolum_detail' pk=bolum.pk %}">{{ bolum.baslik }}</a></li>
        {% endfor %}

    </ul>
{% endblock %}