{% extends 'siteapp/base.html' %}


{% block sidenav-links %}
    <a class="list-group-item list-group-item-action active" href="{% url 'siteapp:fakulte_list' %}">
        Lisans Programları
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:myo_list' %}">
        Önlisans Programları
    </a>

    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:kulup_list' %}">
        Kulüpler
    </a>

    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:ogrenciproje_list' %}">
        Öğrenci Projeleri
    </a>

{% endblock %}


{% block siteapp_content %}

    <h3>Lisans Programları</h3>

    <ul class="list-group">
        {% for fakulte in fakulteler %}
            <li class="list-group-item">
                <a href="{% url 'siteapp:fakulte_bolum_list' pk=fakulte.pk %}">{{ fakulte }}</a>
            </li>
            <ul class="">
                {% for bolum in fakulte.bolum_set.all %}
                    <li class="list-group-item list-group-item-action"><a
                            href="{% url 'siteapp:bolum_detail' pk=bolum.pk %}">{{ bolum.baslik }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}

    </ul>

{% endblock %}