{% extends 'siteapp/base.html' %}

{% block extra-css %}
    {{ block.super }}
    <style>
    p{
        text-align: justify;
    }
    </style>
{% endblock %}

{% block sidenav-links %}
    {% for proje in ogrenciprojeler %}
        <a class="list-group-item list-group-item-action {% if proje == active_proje %}active{% endif %}" href="{% url 'siteapp:ogrenciproje_detail' pk=proje.pk %}">{{ proje.baslik }}</a>
    {% endfor %}

{% endblock %}

{% block siteapp_content %}
    <h1>{{ active_proje.baslik }}</h1>

    {% if active_proje.resim %}
        <img src="{{ active_proje.resim.url }}" alt="" class="w-75 mx-auto">
    {% endif %}

    {% autoescape off %}
        {{ active_proje.yazi }}
    {% endautoescape %}
{% endblock %}