{% extends 'siteapp/base.html' %}


{% block sidenav-links %}
    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:fakulte_list' %}">
        Lisans Programları
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:myo_list' %}">
        Önlisans Programları
    </a>

    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:kulup_list' %}">
        Kulüpler
    </a>
    <a class="list-group-item list-group-item-action active" href="{% url 'siteapp:ogrenciproje_list' %}">
        Öğrenci Projeleri
    </a>
{% endblock %}


{% block siteapp_content %}

    <h3>Öğrenci Projeleri</h3>

    <ul class="list-group">
        {% for proje in ogrenciprojeler %}
            <li class="list-group-item list-group-item-action">
                <a href="{% url 'siteapp:ogrenciproje_detail' pk=proje.pk %}">{{ proje }}</a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}