{% extends 'siteapp/base.html' %}

{% block extra-css %}
{{ block.super }}
<style>
    p, p .btn {
        text-align: justify;
        font-size: 14pt;
    }
    
    p a{
        color: black;
    }

    p a:hover{
        color: #911d0e;
        text-decoration: none;
    }

    #kuluplogo  {
        float: left;    
        margin: 0 15px 0 0;
        max-width: 120px;
    }
</style>
{% endblock %}

{% block sidenav-links %}
{% for kulup in kulupler %}
<a class="list-group-item list-group-item-action {% if kulup == active_kulup %}active{% endif %}"
    href="{% url 'siteapp:kulup_detail' pk=kulup.pk %}">{{ kulup.baslik }}</a>
{% endfor %}

{% endblock %}

{% block siteapp_content %}
<h1>{{ active_kulup.baslik }}</h1>




{% if active_kulup.paragraph %}
<p>
    {% if active_kulup.logo %}
    <img src="{{ active_kulup.logo.url }}" id="kuluplogo">

    
    {% endif %}
    {{active_kulup.paragraph|safe}}
</p>
{% endif %}


{% if active_kulup.resim %}
<a href="{{ active_kulup.resim.url }}" target="_blank">
    <img src="{{ active_kulup.resim.url }}" alt="" class="mr-auto" style="width: 300px;">
</a>

<br>
{% endif %}

<p>
    <strong>Kulüp Başkanı: </strong>
    {{active_kulup.kulup_baskani|default_if_none:''}}
</p>
<p>
    <strong>Kulüp Danışmanı: </strong>
    <a href="{{active_kulup.kulup_danismani_link|default_if_none:''}}">{{active_kulup.kulup_danismani|default_if_none:''}}</a>
</p>

<h5>İletişim:</h5>

{% if active_kulup.web_sitesi %}
    <p>
        <a class="btn" href="{{active_kulup.web_sitesi}}" target="_blank">
            <i class='fas fa-globe-americas' style="font-size: 20pt;"></i>
            : {{active_kulup.web_sitesi}}
        </a>
    </p>
    {% endif %}


    {% if active_kulup.facebook_hesap %}
    <p>
        <a class="btn" href="{{active_kulup.facebook_hesap}}" target="_blank">
            <i class='fab fa-facebook' style="font-size: 20pt;"></i>
            : {{active_kulup.facebook_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_kulup.twitter_hesap %}
    <p>
        <a class="btn" href="{{active_kulup.twitter_hesap}}" target="_blank">
            <i class='fab fa-twitter' style="font-size: 20pt;"></i>
            : {{active_kulup.twitter_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_kulup.instagram_hesap %}
    <p>
        <a class="btn" href="https://www.instagram.com/{{active_kulup.instagram_hesap}}" target="_blank" style="color:black;">
            <i class='fab fa-instagram' style="font-size: 20pt; "></i>
            : {{active_kulup.instagram_hesap}}
        </a>
    </p>
    {% endif %}


    {% if active_kulup.youtube_hesap %}
    <p>
        <a class="btn" href="{{active_kulup.youtube_hesap}}" target="_blank" style="color:red;">
            <i class='fab fa-youtube' style="font-size: 20pt; "></i>
            : {{active_kulup.youtube_hesap}}
        </a>
    </p>
    {% endif %}



    {% if active_kulup.linkedin_hesap %}
    <p>
        <a class="btn" href="{{active_kulup.linkedin_hesap}}" target="_blank">
            <i class='fab fa-linkedin' style="font-size: 20pt; "></i>
            : {{active_kulup.linkedin_hesap}}
        </a>
    </p>
    {% endif %}

    
    
    {% if active_kulup.youtube_video %}
    <br>
    {% autoescape off %}
    {{ active_kulup.youtube_video }}
    {% endautoescape %}
    <br>
    {% endif %}


{% endblock %}