{% extends 'siteapp/base.html' %}

{% block extra-css %}
{{ block.super }}
<style>
    p {
        text-align: justify;
    }
</style>
{% endblock %}

{% block sidenav-links %}
{% for enstitu in enstituler %}
<a class="list-group-item list-group-item-action {% if enstitu == active_abd.bolum %}active{% endif %}"
    href="{% url 'siteapp:enstitu_abd_list' pk=enstitu.pk %}">{{ enstitu.baslik }}</a>
<div class="list-group pl-4 bg-secondary">
    {% for abd in enstitu.anabilimdali_set.all %}
    <a href="{% url 'siteapp:abd_detail' pk=abd.pk %}"
        class="list-group-item list-group-item-action {% if abd == active_abd %}active{% endif %}">{{ abd.baslik }}</a>
    {% endfor %}

</div>
{% endfor %}

{% endblock %}

{% block siteapp_content %}
<h1>{{ active_abd.baslik }}</h1>

{% if active_abd.resim %}
<img src="{{ active_abd.resim.url }}" alt="" class="w-75 mx-auto">
{% endif %}

{% autoescape off %}
{{ active_abd.yazi }}
{% endautoescape %}




{% if active_abd.telefon %}
<p>
    <a class="btn btn-disabled">
        <i class='fas fa-phone' style="font-size: 20pt;"></i>
        : {{active_abd.telefon}}

    </a>
</p>
{% endif %}


{% if active_abd.bolum_mail %}
<p>
    <a class="btn" href="mailto:{{active_abd.bolum_mail}}" target="_blank">
        <i class='fas fa-envelope' style="font-size: 20pt;"></i>
        : {{active_abd.bolum_mail}}
    </a>
</p>
{% endif %}
{% if active_abd.fakulte_mail %}
<p>
    <a class="btn" href="mailto:{{active_abd.fakulte_mail}}" target="_blank">
        <i class='fas fa-envelope' style="font-size: 20pt;"></i>
        : {{active_abd.fakulte_mail}}
    </a>
</p>
{% endif %}


{% if active_abd.web_sitesi %}
<p>
    <a class="btn" href="{{active_abd.web_sitesi}}" target="_blank">
        <i class='fas fa-globe-americas' style="font-size: 20pt;"></i>
        : {{active_abd.web_sitesi}}
    </a>
</p>
{% endif %}


{% if active_abd.facebook_hesap %}
<p>
    <a class="btn" href="{{active_abd.facebook_hesap}}" target="_blank">
        <i class='fab fa-facebook' style="font-size: 20pt;"></i>
        : {{active_abd.facebook_hesap}}
    </a>
</p>
{% endif %}


{% if active_abd.twitter_hesap %}
<p>
    <a class="btn" href="{{active_abd.twitter_hesap}}" target="_blank">
        <i class='fab fa-twitter' style="font-size: 20pt;"></i>
        : {{active_abd.twitter_hesap}}
    </a>
</p>
{% endif %}


{% if active_abd.instagram_hesap %}
<p>
    <a class="btn" href="{{active_abd.instagram_hesap}}" target="_blank" style="color:black;">
        <i class='fab fa-instagram' style="font-size: 20pt; "></i>
        : {{active_abd.instagram_hesap}}
    </a>
</p>
{% endif %}


{% if active_abd.youtube_hesap %}
<p>
    <a class="btn" href="{{active_abd.youtube_hesap}}" target="_blank" style="color:red;">
        <i class='fab fa-youtube' style="font-size: 20pt; "></i>
        : {{active_abd.youtube_hesap}}
    </a>
</p>
{% endif %}



{% if active_abd.linkedin_hesap %}
<p>
    <a class="btn" href="{{active_abd.linkedin_hesap}}" target="_blank">
        <i class='fab fa-linkedin' style="font-size: 20pt; "></i>
        : {{active_abd.linkedin_hesap}}
    </a>
</p>
{% endif %}

<br>
{% if active_abd.sunum %}
<div class="row justify-content-center">
    <a href="{{ active_abd.sunum.url }}" class="btn btn-outline-primary" target="_blank">Anabilimdalı sunum dosyası için
        tıklayınız.</a>
</div>
{% endif %}

<br>


{% if active_abd.youtube_video %}
{% autoescape off %}
{{ active_abd.youtube_video }}
{% endautoescape %}
{% endif %}

<br>
{% endblock %}