{% extends 'siteapp/base.html' %}

{% block sidenav-links %}
    {% for enstitu in enstituler %}
        <a href="{% url 'siteapp:enstitu_abd_list' pk=enstitu.pk %}"
           class="list-group-item list-group-item-action {% if enstitu == active_enstitu %}active{% endif %}">{{ enstitu }}</a>
    {% endfor %}

{% endblock %}



{% block siteapp_content %}

    <h3>{{ active_enstitu.baslik }}</h3>
    <h5>Anabilim Dalları</h5>
    <ul>
        {% for abd in active_enstitu.anabilimdali_set.all %}
            <li><a href="{% url 'siteapp:abd_detail' pk=abd.pk %}">{{ abd.baslik }}</a></li>
        {% endfor %}

    </ul>
{% endblock %}