{% extends 'siteapp/base.html' %}


{% block sidenav-links %}
    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:fakulte_list' %}">
        Lisans Programları
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:myo_list' %}">
        Önlisans Programları
    </a>
    <a class="list-group-item list-group-item-action active" href="{% url 'siteapp:enstitu_list' %}">
        Enstitüler
    </a>

    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:kulup_list' %}">
        Kulüpler
    </a>

    <a class="list-group-item list-group-item-action" href="{% url 'siteapp:ogrenciproje_list' %}">
        Öğrenci Projeleri
    </a>
{% endblock %}


{% block siteapp_content %}

    <h3>Enstitüler</h3>

    <ul class="list-group">
        {% for enstitu in enstituler %}
            <li class="list-group-item">
                <a href="{% url 'siteapp:enstitu_abd_list' pk=enstitu.pk %}">{{ enstitu }}</a>
            </li>
            <ul>
            {% for abd in enstitu.anabilimdali_set.all %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'siteapp:abd_detail' pk=abd.pk %}">{{ abd.baslik }}</a>
                </li>
            {% endfor %}
            
            </ul>
        {% endfor %}

    </ul>

{% endblock %}