#wrapper {
    padding-top: 65px;
}

#sidebar {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.bolum_btns {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}

.bolum_btns_overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) -6%, rgba(0, 0, 0, 0.70) 90%);
    height: 100%;
    width: 100%;
    position: absolute;

}

.bolum_btns h2 {
    font-size: 15px;
    font-weight: normal;
    z-index: 1;
}

.bolum_btns:hover .bolum_btns_overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.bolum_btns:hover h2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-decoration: none;
}

@media (min-width: 576px) {

    .bolum_btns {
        width: 170px;
        height: 170px;
    }
    .bolum_btns h2{
        font-size: 18px;
    }

}

@media (min-width: 768px) {
    .bolum_btns {
        width: 200px;
        height: 200px;
    }
    .bolum_btns h2{
        font-size: 20px;
    }

}

@media (min-width: 992px) {
    .bolum_btns {
        width: 250px;
        height: 250px;
    }
    .bolum_btns h2{
        font-size: 22px;
    }

}

@media (min-width: 1200px) {
    .bolum_btns {
        width: 400px;
        height: 400px;
    }
    .bolum_btns h2{
        font-size: 30px;
    }

}