@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Quicksand:wght@500;600&family=Roboto:wght@700;900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    height:100vh;
    background: #fff;
}

#intro .carousel-item {
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}

#intro .carousel-item::before {
    content: '';
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.6) 75%);
    background-color: rgba(217, 217, 217, 0.5);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h2 {
    color: #231d1b;
    margin-bottom: 0rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;;
}

#intro p {
    width: 80%;
    margin: .5rem auto 30px auto;
    color: #231d1b;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

#intro p.intro-subtitle-2{
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}


/*--------------------------------------------------------------
# Action Button
--------------------------------------------------------------*/

.btn-action {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 4px 32px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #911D0E;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    height:66px;
}


.navbar-bg.transparent {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-bg {
    background-color: rgba(35, 29, 27, .9);
}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 900;
}

.nav-item{
    font-weight: 900;
}

section {
    padding: 50px 0;
}

#intro {
    padding: 0;
}

.card-text {
    font-size: 22px;
}


.site-links{
    background-color: rgba(0,0,0, 0.6);
}

.site-links a, .site-links button{
    color: #fff;
    font-size: 0.8rem;
}


.site-links:hover {
    background-color: rgba(0,0,0, 0.9);
}


.site-links:hover {
    color: #fff;
    text-decoration: none;
}



#estu-logo-svg{
    min-width: 70px;
    min-height: 70px;
    width: 15%;
    height: 15%;
}

@media (min-width: 576px){
    #intro h2{
        font-size: 2rem;
    }
    #intro p{
        font-size: 1.5rem;
    }
    .site-links a, .site-links button{
        font-size:1.2rem;
    }

    #estu-logo-svg{
        width: 10%;
        height: 10%;
    }
}


@media (min-width: 768px){
    #intro h2{
        font-size: 2.5rem;
    }
    #intro p{
        font-size: 2rem;
    }
    /* .site-links{
        font-size:20px;
    } */
    #estu-logo-svg{
        width: 10%;
        height: 10%;
    }
}

@media (min-width: 992px){
    #intro h2{
        font-size: 4rem;
    }
    #intro p{
        font-size: 2.5rem;
    }
    .site-links a, .site-links button{
        font-size:1.4rem;
    }
    #estu-logo-svg{
        width: 10%;
        height: 10%;
    }
}


#footer {
    width: 100%;
    background-color: rgba(35, 29, 27, .8);
    color: #fff;
}

#footer .footer-logo svg {
    height: 80px;
    margin-left: 10%;
}
#footer a{
    color:white;
}


img {
    max-width: 100%;
}


#socialmedia .nav-link {
    text-align: center;
    font-size: 24px;
    color: #fff;


}

#socialmedia .nav-item{
    margin: 0 5px;
}

#socialmedia .nav-item:hover .nav-link{
    background-color: #fff;
    color: #000;
}

.avatar{
    width: 30%;
    border-radius: 10%;
    margin: auto;
}

