@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    background: #fff;
}

#intro .carousel-item {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    /*background-color: rgba(255, 255, 255, 0.8);*/

    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0.6) 70%);
    background-color: rgba(217, 217, 217, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h2 {
    color: #231d1b;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 700;
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #231d1b;
    font-size: 50px;
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}


/*--------------------------------------------------------------
# Action Button
--------------------------------------------------------------*/

.btn-action {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #911D0E;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}


.navbar-bg.transparent {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-bg {
    background-color: rgba(35, 29, 27, .9);
}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
}

section {
    padding: 50px 0;
}

#intro {
    padding: 0;
}

.card-text {
    font-size: 22px;
}


.site_btns {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    /* width: 22%; */
    padding: 50px 0;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 0px;
    width: 14%;

}

 .col-2{
    max-width: 15%;
     margin:3px;
}
/*
#site_links .col-6 {
    max-width: 48%;
    margin: 1%;
}


@media (min-width: 768px) {
    #site_links .col-md-4 {
        max-width: 31.333333%;
        margin: 1%;
    }
}

@media (min-width: 992px) {
    #site_links .col-lg-3 {
        max-width: 23%;
        margin: 1%;
    }

}

@media (min-width: 576px) {
    #site_links .col-sm-6 {
        max-width: 48%;
        margin: 1%;
    }
}


 */
.site_btns-text {
    z-index: 3;
    color: #fff;
    position: relative;
    font-weight: normal;

}

.site_btns:hover {
    background-color: rgba(0,0,0, 0.6);
}


.site_btns:hover {
    color: #fff;
    text-decoration: none;
}


#footer {
    width: 100%;
    background-color: rgba(35, 29, 27, .8);
}

#footer .footer-logo svg {
    height: 80px;
    margin-left: 10%;
}


img {
    max-width: 100%;
}

#socialmedia {

}

#socialmedia .nav-link {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    padding: 7px 0;


}

#socialmedia .nav-item{
    margin: 0 5px;
}

#socialmedia .nav-item:hover .nav-link{
    background-color: #fff;
    color: #000;
}
