{% extends 'siteapp/base.html' %}

{% block extra-css %}
{{ block.super }}
<style>
    p {
        text-align: justify;
    }
</style>
{% if active_bolum.resim %}

<style>
    #siteContent {
        background-image: url("{{ active_bolum.resim.url }}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-overlay {
        background: rgba(255, 255, 255, 0.75);
        padding: 5px;
    }
</style>

{% endif %}
{% endblock %}

{% block sidenav-links %}
{% for myo in myolar %}
<a class="list-group-item list-group-item-action {% if myo == active_bolum.myo %}active{% endif %}"
    href="{% url 'siteapp:myo_bolum_list' pk=myo.pk %}">{{ myo.baslik }}</a>
<ul class="list-group bg-secondary fakulte pl-4">
    {% for bolum in myo.myobolum_set.all %}
    <a href="{% url 'siteapp:myo_bolum_detail' pk=bolum.pk %}"
        class="list-group-item list-group-item-action {% if bolum == active_bolum %}active{% endif %}">{{ bolum.baslik }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}

{% block siteapp_content %}

<div class="image-overlay">
    <h1>{{ active_bolum.baslik }}</h1>

    {% if active_bolum.resim %}

    {% endif %}


    {% autoescape off %}
    {{ active_bolum.yazi }}
    {% endautoescape %}


    {% if active_bolum.sunum %}
    <br>
    <div class="row justify-content-center">
        <a href="{{ active_bolum.sunum.url }}" class="btn btn-outline-primary " target="_blank">Bölüm
            sunum dosyası için tıklayınız</a>
    </div>
    {% endif %}
</div>
{% endblock %}