{% extends 'siteapp/base_birim_bolumler.html' %}

{% block sidebar_kapak %}
    {% if active_myo.kapakfoto %}{{ active_myo.kapakfoto.url }}{% endif %}
{% endblock %}

{% block siteapp_content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'siteapp:myo_list' %}">Önlisans Programları</a></li>
            <li class="breadcrumb-item active"><a
                    href="{% url 'siteapp:myo_bolum_list' pk=active_myo.pk %}">{{ active_myo }}</a></li>
        </ol>
    </nav>

    <h5>Bölümler</h5>
    <div class="row justify-content-center justify-content-md-start">
        {% for bolum in active_myo.myobolum_set.all %}

            <a class="bolum_btns" href="{% url 'siteapp:myo_bolum_detail' pk=bolum.pk %}"
               {% if bolum.thumbnail %}style="background-image: url({{ bolum.thumbnail.url }})" {% endif %}>
                <h2>{{ bolum.baslik }}</h2>
                <div class="bolum_btns_overlay">
                </div>
            </a>

        {% endfor %}
    </div>

    {% if active_myo.sunum %}
        <br>
        <div class="row justify-content-center">
            <a href="{{ active_myo.sunum.url }}" class="btn btn-outline-primary " target="_blank">Meslek Yüksek Okulu
                sunum dosyası için tıklayınız</a>
        </div>
    {% endif %}
{% endblock %}