{% extends 'base.html' %}

{% block navbar_links-left %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Programlar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'siteapp:fakulte_list' %}">Lisans Programları</a>
            <a class="dropdown-item" href="{% url 'siteapp:myo_list' %}">Önlisans Programları</a>
            <a class="dropdown-item" href="{% url 'siteapp:kulup_list' %}">Kulüpler</a>
        </div>
    </li>

    <li class="nav-item"><a href="{% url 'siteapp:puanlar' %}" class="nav-link">Puanlar</a></li>
    <li class="nav-item"><a href="{% url 'siteapp:ogrenciproje_list' %}" class="nav-link">Öğrenci Projeleri</a></li>
{% endblock %}

{% block navbar_links-right %}

    <a href="mailto:kurumsaliletisim@eskisehir.edu.tr" target="_blank" class="btn btn-action" style="margin:0; font-size: 16px;">Soru Sorun</a>
{% endblock %}
