<!doctype html>
{% load static %}
{% load i18n %}
<html lang="{% block lang-code %}tr{% endblock lang-code %}">
<head>
    {% block meta-settings %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta-settings %}

    <title>
        {% trans 'Eskişehir Teknik Üniversitesi' %} |
        {% block site-title %}
        {% endblock site-title %}
    </title>

    {% block bootstrap %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock bootstrap %}
    

    
    
    {% block fontawesome %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% endblock fontawesome %}
        
    
    {% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/genel.css' %}">
    {% endblock custom-css %}
    
    
    
    {% block extra-css %}
    
    {% endblock extra-css %}
    
    
</head>

<body>
    
    <div class="wrapper">
        
        
        <div class="page-content-wrapper">
            {% block navbar %}
            <nav class="navbar navbar-expand-lg {% block navbar-class %}navbar-dark{% endblock %} navbar-bg fixed-top"
            id="navbar-main">
            {% block navbar-logo %}
            <a class="navbar-brand" href="{% url 'home' %}">
                ESTÜ
            </a>
            {% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar_links-left %}
                
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% block navbar_links-right %}
                
                {% endblock %}
            </ul>
            
        </div>
    </nav>
    {% endblock %}
    
    
    <div class="content" style="min-height:90vh;">
        {% block content %}
        
        {% endblock %}
    </div>
</div>

</div>

{% block footer %}

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4" id="footer">
    
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        
        <!-- Grid row -->
        <div class="row">
            <div class="col"></div>
            
            <div class="col-3 col-md-1">
                <svg width="100%" height="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                class="footer-logo">
                
                
                <polygon points="0, 50, 20, 70, 30, 60, 20, 50, 40, 30, 30, 20"
                fill="#ffffff" fill-opacity="0.8" stroke=" gray" stroke-width=0
                stroke-opacity="0.3"/>
                
                <polygon points="40, 10, 50, 20, 60, 10, 50, 0"
                fill="#ffffff" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                stroke-opacity="0.3"/>
                
                
                <polygon points="30, 60, 40, 70, 80, 30, 70, 20"
                fill="#ffffff" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                stroke-opacity="0.3"/>
                
                <polygon points="30, 80, 50, 100, 80, 70, 70, 60, 50, 80, 40, 70"
                fill="#ffffff" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                stroke-opacity="0.3"/>
                
                <polygon fill="#ffffff" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                stroke-opacity="0.3"
                points="80, 50, 90, 60, 100, 50, 90, 40"/>
                
            </svg>
        </div>
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-center">
            
            <!-- Content -->
            <p>Adres: Eskişehir Teknik Üniversitesi İki Eylül Kampüsü 26555 Tepebaşı / ESKİŞEHİR</p>
            <p>Santral: +90 222 321 35 50</p>
            <p>Faks: +90 222 211 59 01</p>
            <p>Web: <a href="http://www.eskisehir.edu.tr" target="_blank">www.eskisehir.edu.tr</a></p>
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none pb-3">
        
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            
            <!-- Links -->
            <ul class="nav" id="socialmedia">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/eskisehirteknikuniv" target="_blank"><i
                        class='fab fa-facebook-f'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/esteknikuniv" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://instagram.com/eskisehirteknikuniv" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.youtube.com/channel/UC-oGylb9E16KNqMnTP_kDoA"
                                target="_blank"><i
                                class="fab fa-youtube"></i></a>
                            </li>
                            
                        </ul>
                        
                    </div>
                    <!-- Grid column -->
                    
                    <div class="col"></div>
                </div>
                <!-- Grid row -->
                
            </div>
            <!-- Footer Links -->
            
            
        </footer>
        <!-- Footer -->
        
        
        {% endblock footer %}
        
        
        {% block jquery %}

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {% endblock jquery %}
            
        {% block bootstrap-script %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock bootstrap-script %}
                
{% block language_script %}
<script>
    function set_lang(lang) {
        $('#id_language').val(lang);
        $('#form_setlang').submit();
    }
    </script>
{% endblock language_script %}

{% block scripts %}

{% endblock scripts %}

{% block custom-scripts %}

{% endblock custom-scripts %}
</body>
</html>