{% extends 'base_site.html' %}
{% load static %}

{% block navbar-class %}
    navbar-light
{% endblock %}


{% block content %}


    <section id="intro">
        <div class="intro-container">
            <div class="carousel slide carousel-fade" id="introCarousel" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="{% static 'img/slider2.JPG' %}"
                                                              alt="Eskişehir Teknik Üniversitesi"></div>
                        <div class="carousel-container">
                            <div class="carousel-content" style="width: 100%;">
                                <svg width="20%" height="20%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">


                                    <polygon points="0, 50, 20, 70, 30, 60, 20, 50, 40, 30, 30, 20"
                                             fill="#870c0b" fill-opacity="0.8" stroke=" gray" stroke-width=0
                                             stroke-opacity="0.3"/>

                                    <polygon points="40, 10, 50, 20, 60, 10, 50, 0"
                                             fill="#870c0b" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                                             stroke-opacity="0.3"/>


                                    <polygon points="30, 60, 40, 70, 80, 30, 70, 20"
                                             fill="#870c0b" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                                             stroke-opacity="0.3"/>

                                    <polygon points="30, 80, 50, 100, 80, 70, 70, 60, 50, 80, 40, 70"
                                             fill="#870c0b" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                                             stroke-opacity="0.3"/>

                                    <polygon fill="#870c0b" fill-opacity="0.8" stroke=" gray" stroke-width="0"
                                             stroke-opacity="0.3"
                                             points="80, 50, 90, 60, 100, 50, 90, 40"/>

                                </svg>

                                <h2>Eskişehir Teknik Üniversitesi</h2>
                                <p>Gelecek için inovasyon</p>
                                <div class="row" style="padding-left: 8%;">

                                    <a class="col-2 site_btns" href="">
                                        Kampüste Yaşam

                                    </a>
                                    <a class="col-2 site_btns" href="{% url 'siteapp:fakulte_list' %}">
                                        Fakülteler

                                    </a>
                                    <a class="col-2 site_btns" href="{% url 'siteapp:enstitu_list' %}">
                                        Enstitüler

                                    </a>
                                    <a class="col-2 site_btns" href="{% url 'siteapp:bolum_list' %}">
                                        Bölümler

                                    </a>
                                    <a class="col-2 site_btns" href="{% url 'siteapp:kulup_list' %}">
                                        Kulüpler

                                    </a>
                                    <a class="col-2 site_btns" href="">
                                        Puanlar

                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>

        </div>
        </div>
    </section>


    <section class="bg-light">
        <div class="container">
            <h1>Rektörün Mesajı</h1>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/wQVLW5TVCeo" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen style=""></iframe>
                </div>
                <div class="col-12 text-justify" style="align-content: center; line-height: 1.5;">
                    <p>Sevgili Gençler,</p>

                    <p>
                        Hayatınızın en önemli dönüm noktalarından birindesiniz. Uzun ve yorucu bir maratonu geride
                        bıraktınız. Emeklerinizin karşılığını alacağınız, yaşamınıza yön vereceğiniz, kendiniz ve
                        aileniz için yeni bir hayat inşa edeceğiniz önemli bir noktadasınız.
                    </p>

                    <p>
                        Şüphesiz doğru tercih yapmak sadece sizin değil Ülkemizin geleceği, yarınları için de önemli.
                    </p>

                    <p>
                        Tercih yaparken içinde bulunduğunuz dünyayı çok iyi anlamanız gerekiyor. Günümüzde teknoloji ve
                        bilim alanında yaşanan gelişmeler hayatın her alanını daha önce eşi benzeri görülmemiş şekilde
                        değiştirdi. Artık bilgiye ulaşmak bundan 10 yıl öncesine göre oldukça kolay.
                    </p>

                    <p>
                        Ancak değişen şartlar içerisinde sadece bilgiye ulaşmak değil, ulaştığı bilgiyi sosyal ve
                        mesleki beceriler ile birleştirmek aynı zamanda bilgiyi analitik süreçlerden geçirmek,
                        sorgulamak ve uygulama yapabilme becerisine sahip olmak da bir o kadar önemli.
                    </p>

                    <p>
                        Çünkü değişen dünya şartlarında her alanda büyük bir rekabet yaşanıyor. Bu rekabet teknolojiden
                        bilime her alanda insanlığın sınırlarını geliştiriyor, değiştiriyor. Artık sadece belli bir
                        konuda uzman olmak yeterli değil. Disiplinlerarası çalışmalarda yer alabilmek ve farklı
                        alanlardaki bakış açılarının bütünleştirilerek uygulanmasını sağlamak da üretilenlere değer
                        katıyor.
                    </p>

                    <p>
                        Makinelerin yapay zekâ ile düşünmeye başladığı, bilgi ve iletişimin ışık hızı ile yayıldığı,
                        hayatımıza dokunan tüm alanlarda insan öğesinin ön plana çıktığı bir dönemdeyiz. Bu dönemde
                        mesleklerin yapıları sorgulanıyor, hatta yeniden tanımlanıyor.
                    </p>

                    <p>
                        Eskişehir Teknik Üniversitesi, “Bir Gelecek Üniversitesi” olarak sizleri bu değişen ve dönüşen
                        dünyada sadece yarınlara hazırlamak için değil, yarınlara taşımak için de hazır. Bizler
                        küreselleşen dünyada değişen rekabet ortamında kuralları ve standartları belirleyen bireyler
                        yetiştirmeyi kendimize hedef edindik. Üniversitemiz bu yüzden öğrencilerine sadece eğitim
                        aldıkları alanda değil sosyal, kültürel ve sanatsal alanda da yetkinlik kazandırarak hayata
                        hazırlıyor. Yükseköğretimde kalite konusunda uluslararası standartların üstünde yer almayı
                        kendine hedef edinmiş olan Eskişehir Teknik Üniversitesi güçlü akademik kadrosu, altyapı
                        olanakları, geniş kampüs imkanları, aktif öğrenci kulüpleri, spor olanakları, öğrenci projeleri
                        ve vizyonu ile size geleceği vadediyor.
                    </p>

                    <p>
                        Bu dönemde vereceğiniz kararı etkileyen en önemli iki unsur hiç kuşkusuz Üniversite ve şehir
                        tercihi olacaktır. Üniversitemizin sizlere kazandıracağı değerlerin gelecekte sizler için
                        mutluluk ve gurur kaynağı olacağı konusunda hiçbir şüphem yok. Dünyanın en güvenli şehirleri
                        arasında yer alan Eskişehir ise sizlerin sosyal, kültürel ve bilimsel ihtiyaçlarına cevap
                        verirken, ayrıcalıklı yaşam standartlarını da sizlere sunuyor olacaktır. Bir hoca ve bilim
                        insanı olarak tüm bu nedenlerle Eskişehir Teknik Üniversitesi’nin gönül rahatlığı ile tercih
                        edilmesi gerektiğini söylemem yanlış olmayacaktır. Sizler için önemli ve zor olan karar
                        döneminde sizlere her konuda yardımcı olmaya hazır olduğumuzu belirtmek isterim.
                    </p>


                    <p>
                        Sevgili Gençler; Sizden beklentimiz, hem öğrencilik yıllarınızda hem de meslek yaşamınızda
                        tutkunuzu asla kaybetmemeniz, seçeceğiniz yolda emin adımlarla ilerlemeniz, mezuniyetinizle
                        birlikte mesleki bilgi ve becerilerle donanmış ülkesine ve dünyaya hizmet edecek iyi birer insan
                        olarak hayata atılmanızdır. Sağlıklı, mutlu ve başarılı bir öğrencilik yaşamı geçirmeniz
                        dilekleriyle hepinizi sevgiyle kucaklıyorum.
                    </p>

                    <p>
                        Hayattaki tercihlerinizin her zaman “iyi ki” dedirtmesi dileklerimle…
                    </p>

                    <p>
                        Prof. Dr. Tuncay Döğeroğlu <br>
                        Rektör
                    </p>


                </div>
            </div>

        </div>
    </section>




{% endblock %}

{% block scripts %}
    <script>

        $(document).ready(function () {
            var navbar = $('#navbar-main');
            navbar.addClass('navbar-light');
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    navbar.removeClass('transparent').removeClass('navbar-light').addClass('navbar-dark');
                } else {
                    navbar.addClass('transparent').removeClass('navbar-dark').addClass('navbar-light');
                }
            });
        });

        var navbar = $('#navbar-main');
        navbar.addClass('transparent');
        $(window).scroll(function () {
            var intro = $('#intro');
            var hT = intro.offset().top,
                hH = intro.outerHeight(),
                wH = $(window).height(),
                wS = $(this).scrollTop();
            if (wS > navbar.offset().top + navbar.height()) {
                navbar.removeClass('transparent')
            } else {
                navbar.addClass('transparent');
            }
        });
    </script>
{% endblock %}