{% extends 'base_site.html' %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/fakulte.css' %}">
{% endblock %}



{% block content %}

    <div class="row" id="wrapper">
        {% block sidebar %}
            <!-- Sidebar -->
            <div class="bg-light border-right col-12 col-md-5 col-xl-3" id="sidebar" style="background-image: url({% block sidebar_kapak %}{% endblock %});">
                <div class="list-group list-group-flush">
                    {% block sidenav-links %}

                    {% endblock %}

                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        {% endblock %}

        <!-- Page Content -->
        <div id="page-content-wrapper" class="col">
            <div class="container-fluid" style="">
                    {% block siteapp_content %}

                    {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}

{% block custom-scripts %}
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}