{% extends 'base_site.html' %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
{% endblock %}



{% block content %}

    <div class="row">


        {% block sidenav %}
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar" id="sidebarMain">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column px-3">
                        {% block sidenav-links %}

                        {% endblock %}


                    </ul>
                </div>
            </nav>

        {% endblock %}

        <div role="main" class="{% block siteapp_content-class %}col-md-9 col-lg-10 ml-sm-auto {% endblock %}  px-4 ">
            <div class="card card-bod p-4" id="siteContent">
                {% block siteapp_content %}

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}