{% extends 'base_site.html' %}
{% load static %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}



{% block content %}

    <div class="d-flex" id="wrapper">
        {% block sidebar %}
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    {% block sidenav-links %}

                    {% endblock %}

                </div>
            </div>
            <!-- /#sidebar-wrapper -->
        {% endblock %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button class="btn btn-secondary pb-0 pt-2 m-2 d-md-none" id="menu-toggle" type="button">
                <i class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></i>
            </button>
            <div class="container-fluid" style="">
                <div class="card card-body" id="siteContent">
                    {% block siteapp_content %}

                    {% endblock %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block custom-scripts %}
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}