{% extends 'siteapp/base.html' %}


{% block sidenav %}

{% endblock %}

{% block siteapp_content-class %}
col-12
{% endblock %}

{% block siteapp_content %}
    <h1>Bölümler</h1>

    <ul>
        {% for bolum in bolumler %}
            <li><a href="{% url 'siteapp:bolum_detail' pk=bolum.pk %}">{{ bolum }}</a></li>
        {% endfor %}

    </ul>

{% endblock %}