{% extends 'base_site.html' %} 
{% load i18n %} 
{% load static %} 


{% block extra-css %}
    <style>
        h1,h2,h2,h4,h3,h6{
            margin: 1rem 0;
        }
        p {
            font-size:1.2rem;
            text-align: justify;
        }
    </style>
{% endblock extra-css %}
    

{% block content %}

<div class="container" style="padding-top: 66px">
    <div class="card card-body">
        <h1>ESTÜ’yü Deneyimle</h1>
        <br />

        <h2>Kampüs ziyaretleri</h2>

        <p>
            Eskişehir Teknik Üniversitesi olarak Türkiye genelinden Üniversitemizi ziyaret etmeye gelen ve gelmek
            isteyen öğrencilerimizi memnuniyetle karşılıyoruz. Ancak siz değerli aday öğrencilerimizi kampüsümüze
            misafir etmekten büyük mutluluk duyuyor olsak da pandemi nedeniyle kampüs ziyaretlerimize süreç sona erene
            dek ara vermiş bulunmaktayız.
        </p>

        <div class="row">
            <div class="card col-12 col-md-6 border-0 p-1">
                {% static 'img/kampusziyareti/kampus_ziyareti_1.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="ziyaret_1" %}
            </div>

            <div class="card col-12 col-md-6 border-0 p-1">
            {% static 'img/kampusziyareti/kampus_ziyareti_2.jpg' as image_url %}
            {% include 'siteapp/image_modal.html' with image_modal_id="ziyaret_2" %}
            </div>

            <div class="card col-12 col-md-6 border-0 p-1">
            {% static 'img/kampusziyareti/kampus_ziyareti_3.jpg' as image_url %}
            {% include 'siteapp/image_modal.html' with image_modal_id="ziyaret_3" %}
            </div>

            <div class="card col-12 col-md-6 border-0 p-1">
            {% static 'img/kampusziyareti/kampus_ziyareti_4.jpg' as image_url %}
            {% include 'siteapp/image_modal.html' with image_modal_id="ziyaret_4" %}
            </div>

            <div class="card col-12 col-md-6 border-0 p-1">
                {% static 'img/kampusziyareti/kampus_ziyareti_5.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="ziyaret_5" %}
            </div>
        </div>

        <h2>Çevrimiçi tanıtım</h2>

        <p>
            Pandemi döneminde, siz aday öğrencilerimizi maalesef kampüsümüzde ağırlayamamaktayız. Ancak,
            <a
                href="https://eskisehir.edu.tr/kisisel/liselere-yonelik-kampus-ve-bolum-tanitimi0/universite-tanitim-gezisi"
            >
                talep formumuzu doldurarak
            </a>
            başvurmanız halinde sizler için çevrimiçi ESTÜ tanıtım sunumu planlayabiliyoruz. Dilerseniz Zoom üzerinden
            görüşebilir, üniversite ve ilgilendiğiniz bölümler ile ilgili öğrencilerimizden ve öğretim üyelerimizden
            bilgi alabilir, sorularınızı yöneltebilirsiniz.
        </p>

        <p>
            2020-2021 Akademik Yılı Bahar Dönemi çevrimiçi okul/lise tanıtım sunumları, Mart-Nisan-Mayıs ayları boyunca,
            Çarşamba günleri, 14:00-15:30 ve 16:00-17:30 saatlerinde gerçekleştirilmektedir.
        </p>

        <div class="row">
            <div class="card col-12 col-md-6 border-0">
                {% static 'img/estudeneyimle/estudeneyimle_1.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_1" %}
            </div>
            <div class="card col-12 col-md-6 border-0">
                {% static 'img/estudeneyimle/estudeneyimle_2.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_2" %}
            </div>
            <div class="card col-12 col-md-6 border-0">
                {% static 'img/estudeneyimle/estudeneyimle_3.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_3" %}
            </div>
            <div class="card col-12 col-md-6 border-0">
                {% static 'img/estudeneyimle/estudeneyimle_4.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_4" %}
            </div>
        </div>

        <h2>Lise ziyaretleri</h2>
        <p>
            Şehrimizde bulunan liselere, üniversitemiz Öğrenci Dekanlığı ile Araştırma ve Lisansüstü Süreçler
            Direktörlüğü olarak ziyaretler gerçekleştiriyoruz. Eskişehir Teknik Üniversitesi olarak neler başardığımızı
            paylaşmak ve yanı başlarında ESTÜ gibi küresel anlamda mezunlar yetiştirmeyi kendisine ilke edinmiş bir
            üniversitenin var olduğunu onlara hatırlatmak için geleceğin mucitleri olan lise öğrencilerine ziyaretler
            düzenliyoruz. Eskişehir Teknik Üniversitesi’nin şehrimizdeki liselere devam edecek olan bu ziyaretleri
            sırasında, geleceğin mucitleri, üniversitemizin farklı fakültelerinden, alanında patent sahibi ya da
            uluslararası başarıya sahip bilim insanları ile buluşuyor.
        </p>
        <div class="card-columns">
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_poster.png' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_poster" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_5.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_5" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_6.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_6" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_7.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_7" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_8.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_8" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_9.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_9" %}
            </div>
            <div class="card border-0">
                {% static 'img/estudeneyimle/estudeneyimle_10.jpg' as image_url %}
                {% include 'siteapp/image_modal.html' with image_modal_id="deneyimle_10" %}
            </div>

        </div>

        <h2>Tanıtım filmleri</h2>

        <h3>Fen Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/17OaNVxCSKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Havacılık ve Uzay Bilimleri Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/w0vE6MOiLx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Araştırma ve Lisansüstü Süreçler Direktörlüğü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/_zQUIABueIc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Lisansüstü Eğitim Enstitüsü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/n83BdFWE45g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Mimarlık ve Tasarım Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/WSWPXcTB6Cw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Mühendislik Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/riQjt8RGj4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Öğrenci Dekanlığı Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/nAMTL-ztzwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Porsuk Meslek Yüksekokulu Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/gvlwiZRYrGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Spor Bilimleri Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/0wkNhw4Rdb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Ulaştırma Meslek Yüksekokulu Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/RGyqcxxJhIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Yer ve Uzay Bilimleri Enstitüsü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/fhPBGI5FlQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
        <h2>Tanıtım Kataloğu</h2>

        <iframe src="https://online.fliphtml5.com/jqrej/rqqy/" frameborder="0" style="height: 80vh; width:100%;"></iframe>

        <small><a href="https://online.fliphtml5.com/jqrej/rqqy/" target="_blank" class="btn btn-link btn-sm float-right">Yeni Sekmede Aç</a></small>
    
    </div>
</div>
{% endblock %}
