{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block content %}



<div class="container" style="padding-top: 66px;">
    <div class="card card-body">
        <h2>ESTÜ’de Araştırma ve Lisansüstü Eğitim</h2>

        <!-- <iframe height="720" src="https://www.youtube.com/embed/nQpJ3YpjEzA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    </div>
</div>
{% endblock %}