{% load static %}

<a href="#" data-toggle="modal" data-target="#imageModal_{{image_modal_id}}">
    <img src="{{image_url}}" alt="" class="card-img" />
</a>

<div class="modal" id="imageModal_{{image_modal_id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-0">
            <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="{{image_url}}" alt="" class="w-100" />
            </div>
        </div>
    </div>
</div>
