{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}


{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
{% endblock %}

{% block content %}



    <div class="container" style="padding-top: 66px;">
        <div class="card card-body">
            <h2>Kampüste Yaşam</h2>
            <div class="row justify-content-center m-3">

            </div>
            <div class="container-fluid slideshow">
                {% for resim in resimler %}
                    <div class="mySlides">
                        <div class="numbertext">{{ forloop.counter }} / {{ resimler.count }}</div>
                        <img src="{{ resim.resim.url }}" style="width:100%">
                    </div>
                {% endfor %}


                <a id="prev" class="prev" onclick="plusSlides(-1)">❮</a>
                <a id="next" class="next" onclick="plusSlides(1)">❯</a>


                <div class="row">
                    {% for resim in resimler %}
                        <div class="column">
                            <img class="demo cursor" src="{{ resim.resim.url }}" style="width:100%"
                                 onclick="currentSlide({{ forloop.counter }})">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
{% endblock scripts %}