{% extends 'base_site.html' %}


{% block content %}

<div class="container" style="padding-top: 66px;">
    <h2>Taban-Tavan Puanları</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#year2020-2021">2020-2021</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#year2019-2020">2019-2020</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#year2018-2019">2018-2019</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#year2017-2018">2017-2018</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- #region: Year 2020 - 2021 -->
        <div id="year2020-2021" class="container tab-pane card active">
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th rowspan="2">FAKÜLTE/MESLEK YÜKSEKOKULU</th>
                        <th rowspan="2">PROGRAM</th>
                        <th>&nbsp;</th>
                        <th colspan="2">2020-2021</th>
                    </tr>
                    <tr>
                        <th>PUAN</th>
                        <th>TABAN</th>
                        <th>TAVAN</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- #region: Fen Fakültesi -->
                    <tr>
                        <td rowspan="5">Fen Fakültesi</td>
                        <td>Biyoloji</td>
                        <td>SAY</td>
                        <td>267.30349</td>	
                        <td>347.25841</td>
                    </tr>
                    <tr>
                        <td>Fizik</td>
                        <td>SAY</td>
                        <td>260.0504</td>	
                        <td>340.58555</td>
                    </tr>
                    <tr>
                        <td>Kimya (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>271.48873</td>	
                        <td>389.621</td>
                    </tr>
                    <tr>
                        <td>İstatistik (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>267.71906</td>	
                        <td>293.10536</td>
                    </tr>
                    <tr>
                        <td>Matematik</td>
                        <td>SAY</td>
                        <td>304.75032</td>	
                        <td>407.44405</td>
                    </tr>
                     <!-- #endregion: Fen Fakültesi -->
                    <!-- #region: Mühendislik Fakültesi -->
                    <tr>
                        <td rowspan="9">Mühendislik Fakültesi</td>
                        <td>Çevre Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>284.08208</td>	
                        <td>330.49725</td>
                    </tr>
                    <tr>
                        <td>Kimya Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>354.5195</td>	
                        <td>403.26249</td>
                    </tr>
                    <tr>
                        <td>Elektrik-Elektronik Mühendisliği (İngilizce)</td>
                        <td>SAY</td>
                        <td>453.83326</td>	
                        <td>473.65271</td>
                    </tr>
                    <tr>
                        <td>İnşaat Mühendisliği&nbsp;(%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>344.54641</td>	
                        <td>399.96505</td>
                    </tr>
                    <tr>
                        <td>İnşaat Mühendisliği Bölümü (KKTC Uyruklu) (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>330.91895</td>	
                        <td>330.91895</td>
                    </tr>
                    <tr>
                        <td>Endüstri Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>441.11989</td>	
                        <td>455.73032</td>
                        
                    </tr>
                    <tr>
                        <td>Bilgisayar Mühendisliği (İngilizce)</td>
                        <td>SAY</td>    
                        <td>469.83477</td>	
                        <td>485.25092</td>
                    </tr>
                    <tr>
                        <td>Makine Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>420.02966</td>	
                        <td>441.22747</td>
                    </tr>
                    <tr>
                        <td>Malzeme Bilimi ve Mühendisliği (İngilizce)&nbsp;</td>
                        <td>SAY</td>
                        <td>338.72826</td>	
                        <td>439.0627</td>
                    </tr>
                    <!-- #endregion: Mühendislik Fakültesi -->
                    <!-- #region: Mimarlik ve Tasarim Fakultesi -->
                    <tr>
                        <td rowspan="5">Mimarlık ve Tasarım Fakültesi</td>
                        <td>Endüstriyel Tasarım&nbsp;</td>
                        <td>SAY</td>
                        <td>334.29818</td>	
                        <td>407.16807</td>
                    </tr>
                    <tr>
                        <td>İç Mimarlık</td>
                        <td>SAY</td>
                        <td>345.34366</td>	
                        <td>399.13398</td>
                    </tr>
                    <tr>
                        <td>Mimarlık</td>
                        <td>SAY</td>
                        <td>416.4809</td>	<td>498.59908</td>
                    </tr>
                    <tr>
                        <td>Endüstriyel Tasarım Bölümü (KKTC Uyruklu)</td>
                        <td>SAY</td>
                        <td>327.89538</td>	
                        <td>327.89538</td>
                    </tr>
                    <tr>
                        <td>Tekstil ve Moda Tasarımı</td>
                        <td>EA</td>
                        <td>266.21402</td>	<td>336.41281</td>
                    </tr>
                    <!-- #endregion: Mimarlik ve Tasarim Fakultesi -->
                
                    <!-- #region: Havacilik ve Uzay Bilimleri Fakultesi -->
                    <tr>
                        <td rowspan="7">Havacılık ve Uzay Bilimleri Fakültesi</td>
                        <td>Uçak Gövde-Motor Bakım</td>
                        <td>SAY</td>
                        <td>429.73028</td>	<td>456.4047</td>
                    </tr>
                    <tr>
                        <td>Uçak Gövde-Motor Bakım&nbsp;(KKTC)</td>
                        <td>SAY</td>
                        <td>358.69798</td>	<td>375.25089</td>
                    </tr>
                    <tr>
                        <td>Havacılık Elektrik ve Elektroniği</td>
                        <td>SAY</td>
                        <td>416.16839</td>	<td>453.58961</td>
                    </tr>
                    <tr>
                        <td>Havacılık Yönetimi</td>
                        <td>EA</td>
                        <td>355.70849</td>	<td>403.5119</td>
                    </tr>
                    <tr>
                        <td>Pilotaj</td>
                        <td>SAY</td>
                        <td>523.60861</td>	<td>543.8348</td>
                    </tr>
                    <tr>
                        <td>Pilotaj Bölümü (KKTC Uyruklu)</td>
                        <td>SAY</td>
                        <td>445.53354</td>	<td>463.83101</td>
                    </tr>
                    <tr>
                        <td>Havacılık Elektrik ve Elektroniği (KKTC)</td>
                        <td>SAY</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- #endregion: Havacilik ve Uzay Bilimleri Fakultesi -->
                    
                    <!-- #region: Spor Bilimleri Fakültesi -->
                    <tr>
                        <td>Spor Bilimleri Fakültesi</td>
                        <td>Spor Yöneticiliği</td>
                        <td>EA</td>
                        <td>283,83712</td>	
                        <td>317,44283</td>
                    </tr>
                    <!-- #endregion: Spor Bilimleri Fakültesi -->
                
                    <!-- #region: Porsuk Meslek Yuksekokulu -->
                    <tr>
                        <td rowspan="9">Porsuk Meslek Yüksekokulu</td>
                        <td>Basın ve Yayın Teknolojileri Programı</td>
                        <td>TYT</td>
                        <td>243.06495</td>	
                        <td>300.48185</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar Programcılığı Programı</td>
                        <td>TYT</td>
                        <td>317.87092</td>	
                        <td>370.42861</td>
                    </tr>
                    <tr>
                        <td>Elektrik Enerjisi Üretim, İletim ve Dağıtım Programı</td>
                        <td>TYT</td>
                        <td>251.22433</td>	
                        <td>334.89185</td>
                    </tr>
                    <tr>
                        <td>Radyo ve Televizyon Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>250.76042</td>	
                        <td>287.86748</td>
                    </tr>
                    <tr>
                        <td>Mekatronik Programı</td>
                        <td>TYT</td>
                        <td>290.69332</td>	
                        <td>333.07507</td>
                    </tr>
                    <tr>
                        <td>İnsansız Hava Aracı Teknolojisi ve Operatörlüğü Programı</td>
                        <td>TYT</td>
                        <td>332.35144</td>	
                        <td>437.75055</td>
                    </tr>
                    <tr>
                        <td>Makine, Resim ve Konstrüksiyon Programı</td>
                        <td>TYT</td>
                        <td>253.68067</td>	
                        <td>313.50694</td>
                    </tr>
                    <tr>
                        <td>Grafik Tasarım Programı</td>
                        <td>TYT</td>
                        <td>283.45083</td>
                        <td>365.26027</td>
                    </tr>
                    <tr>
                        <td>Yapı Denetimi Programı</td>
                        <td>TYT</td>
                        <td>236.11438</td>	
                        <td>293.286</td>
                    </tr>
                    <!-- #endregion: Porsuk Meslek Yuksekokulu -->
                
                    <!-- #region: Ulaştırma Meslek Yüksekokulu -->
                    <tr>
                        <td rowspan="9">Ulaştırma Meslek Yüksekokulu</td>
                        <td>Raylı Sistemler Elektrik ve Elektronik Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>282.29637</td>	
                        <td>389.6865</td>              
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makine Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>273.80814</td>	
                        <td>318.85877</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makinistlik Programı</td>
                        <td>TYT</td>
                        <td>288.819</td>	
                        <td>367.56694</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Yol Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>254.9636</td>	
                        <td>302.05343</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler İşletmeciliği Programı</td>
                        <td>TYT</td>
                        <td>256.95924</td>	
                        <td>279.3883</td>
                    </tr>
                    <tr>
                        <td>Sivil Havacılık Kabin Hizmetleri Programı</td>
                        <td>TYT</td>
                        <td>294.8914</td>	
                        <td>382.12766</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik Hizmetleri Programı</td>
                        <td>TYT</td>
                        <td>227.91338</td>	
                        <td>278.24097</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik Hizmetleri Programı (KKTC)</td>
                        <td>TYT</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lojistik Programı</td>
                        <td>TYT</td>
                        <td>250.7173</td>	
                        <td>310.17454</td>
                    </tr>
                    <!-- #endregion: Ulaştırma Meslek Yüksekokulu -->
                
                </tbody>
            </table>
        </div>
        <!-- #endregion: Year 2020 - 2021 -->
        <!-- #region: Year 2019 - 2020 -->
        <div id="year2019-2020" class="container tab-pane card"><br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th rowspan="2">FAKÜLTE/MESLEK YÜKSEKOKULU</th>
                        <th rowspan="2">PROGRAM</th>
                        <th>&nbsp;</th>
                        <th colspan="2">2019-2020</th>
                    </tr>
                    <tr>
                        <th>PUAN</th>
                        <th>TABAN</th>
                        <th>TAVAN</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- #region: Fen Fakultesi -->
                    <tr>
                        <td rowspan="5">Fen Fakültesi</td>
                        <td>Biyoloji</td>
                        <td>SAY</td>
                        <td>245.59868</td>
                        <td>262.65498</td>
                    </tr>
                    <tr>
                        <td>Fizik</td>
                        <td>SAY</td>
                        <td>239.29626</td>
                        <td>387.65997</td>
                    </tr>
                    <tr>
                        <td>Kimya (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>246.97404</td>
                        <td>271.86071</td>
                    </tr>
                    <tr>
                        <td>İstatistik (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>243.40027</td>
                        <td>263.3399</td>
                    </tr>
                    <tr>
                        <td>Matematik</td>
                        <td>SAY</td>
                        <td>275.98053</td>
                        <td>393.63435</td>
                    </tr>
                    <!-- #endregion: Fen Fakultesi -->
                    <!-- #region: Muhendislik Fakultesi -->
                    <tr>
                        <td rowspan="8">Mühendislik Fakültesi</td>
                        <td>Çevre Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>261.07922</td>
                        <td>316.7284</td>
                    </tr>
                    <tr>
                        <td>Kimya Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>304.77107</td>
                        <td>354.76465</td>
                    </tr>
                    <tr>
                        <td>Elektrik-Elektronik Mühendisliği (İngilizce)</td>
                        <td>SAY</td>
                        <td>422.29964</td>
                        <td>441.66511</td>
                    </tr>
                    <tr>
                        <td>İnşaat Mühendisliği&nbsp;(%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>322.75619</td>
                        <td>398.89295</td>
                    </tr>
                    <tr>
                        <td>Endüstri Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>402.02627</td>
                        <td>448.0569</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar Mühendisliği (İngilizce)</td>
                        <td>SAY</td>
                        <td>431.62251</td>
                        <td>450.48899</td>
                    </tr>
                    <tr>
                        <td>Makine Mühendisliği (%30 İngilizce)</td>
                        <td>SAY</td>
                        <td>388.38693</td>
                        <td>412.16537</td>
                    </tr>
                    <tr>
                        <td>Malzeme Bilimi ve Mühendisliği (İngilizce)&nbsp;</td>
                        <td>SAY</td>
                        <td>300.98114</td>
                        <td>375.60086</td>
                    </tr>
                    <!-- #endregion: Muhendislik Fakultesi -->
                    <!-- #region: Mimarlik ve Tasarim Fakultesi -->
                    <tr>
                        <td rowspan="4">Mimarlık ve Tasarım Fakültesi</td>
                        <td>Endüstriyel Tasarım&nbsp;</td>
                        <td>SAY</td>
                        <td>306.84388</td>
                        <td>404.10228</td>
                    </tr>
                    <tr>
                        <td>İç Mimarlık</td>
                        <td>SAY</td>
                        <td>326.40301</td>
                        <td>382.85825</td>
                    </tr>
                    <tr>
                        <td>Mimarlık</td>
                        <td>SAY</td>
                        <td>400.80479</td>
                        <td>436.63567</td>
                    </tr>
                    <tr>
                        <td>Moda ve Tekstil Tasarımı</td>
                        <td>EA</td>
                        <td>257.41104</td>
                        <td>326.11134</td>
                    </tr>
                    <!-- #endregion: Mimarlik ve Tasarim Fakultesi -->
                    <!-- #region: Havacilik ve Uzay Bilimleri Fakultesi -->
                    <tr>
                        <td rowspan="6">Havacılık ve Uzay Bilimleri Fakültesi</td>
                        <td>Uçak Gövde-Motor Bakım</td>
                        <td>SAY</td>
                        <td>388.15461</td>
                        <td>430.59957</td>
                    </tr>
                    <tr>
                        <td>Uçak Gövde-Motor Bakım&nbsp;(KKTC)</td>
                        <td>SAY</td>
                        <td>372.00378</td>
                        <td>372.00378</td>
                    </tr>
                    <tr>
                        <td>Havacılık Elektrik ve Elektroniği</td>
                        <td>SAY</td>
                        <td>373.75159</td>
                        <td>415.63243</td>
                    </tr>
                    <tr>
                        <td>Havacılık Yönetimi</td>
                        <td>EA</td>
                        <td>344.29168</td>
                        <td>392.75833</td>
                    </tr>
                    <tr>
                        <td>Pilotaj</td>
                        <td>SAY</td>
                        <td>503.27408</td>
                        <td>544.89949</td>
                    </tr>
                    <tr>
                        <td>Havacılık Elektrik ve Elektroniği (KKTC)</td>
                        <td>SAY</td>
                        <td>323.51679</td>
                        <td>323.51679</td>
                    </tr>
                    <!-- #endregion: Havacilik ve Uzay Bilimleri Fakultesi -->
                    <!-- #region: Spor Bilimleri Fakültesi -->
                    <tr>
                        <td>Spor Bilimleri Fakültesi</td>
                        <td>Spor Yöneticiliği</td>
                        <td>EA</td>
                        <td>268.7283</td>
                        <td>305.5847</td>
                    </tr>
                    <!-- #endregion: Spor Bilimleri Fakültesi -->
                    <!-- #region: Porsuk Meslek Yuksekokulu -->
                    <tr>
                        <td rowspan="8">Porsuk Meslek Yüksekokulu</td>
                        <td>Basın ve Yayın Teknolojileri Programı</td>
                        <td>TYT</td>
                        <td>242.43719</td>
                        <td>379.0106</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar Programcılığı Programı</td>
                        <td>TYT</td>
                        <td>298.62316</td>
                        <td>374.58811</td>
                    </tr>
                    <tr>
                        <td>Elektrik Enerjisi Üretim, İletim ve Dağıtım Programı</td>
                        <td>TYT</td>
                        <td>252.71044</td>
                        <td>319.94736</td>
                    </tr>
                    <tr>
                        <td>Radyo ve Televizyon Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>245.92171</td>
                        <td>317.75483</td>
                    </tr>
                    <tr>
                        <td>Mekatronik Programı</td>
                        <td>TYT</td>
                        <td>283.22107</td>
                        <td>349.26883</td>
                    </tr>
                    <tr>
                        <td>Makine, Resim ve Konstrüksiyon Programı</td>
                        <td>TYT</td>
                        <td>254.21996</td>
                        <td>305.48998</td>
                    </tr>
                    <tr>
                        <td>Grafik Tasarım Programı</td>
                        <td>TYT</td>
                        <td>273.18726</td>
                        <td>406.2521</td>
                    </tr>
                    <tr>
                        <td>Yapı Denetimi Programı</td>
                        <td>TYT</td>
                        <td>236.49841</td>
                        <td>279.61534</td>
                    </tr>
                    <!-- #endregion: Porsuk Meslek Yuksekokulu -->
                    <!-- #region: Ulaştırma Meslek Yüksekokulu -->
                    <tr>
                        <td rowspan="9">Ulaştırma Meslek Yüksekokulu</td>
                        <td>Raylı Sistemler Elektrik ve Elektronik Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>279.91578</td>
                        <td>353.07285</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makine Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>270.26524</td>
                        <td>312.73475</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makinistlik Programı</td>
                        <td>TYT</td>
                        <td>281.13551</td>
                        <td>321.45586</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Yol Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>257.10289</td>
                        <td>333.48509</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler İşletmeciliği Programı</td>
                        <td>TYT</td>
                        <td>258.63407</td>
                        <td>296.22792</td>
                    </tr>
                    <tr>
                        <td>Sivil Havacılık Kabin Hizmetleri Programı</td>
                        <td>TYT</td>
                        <td>287.84605</td>
                        <td>348.78261</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik Hizmetleri Programı</td>
                        <td>TYT</td>
                        <td>228.61506</td>
                        <td>296.01928</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik Hizmetleri Programı (KKTC)</td>
                        <td>TYT</td>
                        <td>228.19121</td>
                        <td>228.19121</td>
                    </tr>
                    <tr>
                        <td>Lojistik Programı</td>
                        <td>TYT</td>
                        <td>246.52449</td>
                        <td>317.92679</td>
                    </tr>
                    <!-- #endregion: Ulaştırma Meslek Yüksekokulu -->
                </tbody>
            </table>
        </div>
        <!-- #endregion: Year 2019 - 2020 -->
        <div id="year2018-2019" class="container tab-pane card"><br>
            
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th rowspan="2">FAKÜLTE/MESLEK YÜKSEKOKULU</th>
                        <th rowspan="2">PROGRAM</th>
                        <th>&nbsp;</th>
                        <th colspan="2">2018-2019</th>
                    </tr>
                    <tr>
                        <th>PUAN</th>
                        <th>TABAN</th>
                        <th>TAVAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" style="height:96px">Fen Fakültesi</td>
                        <td>Biyoloji</td>
                        <td>SAY</td>
                        <td>235.170</td>
                        <td>314.146</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Fizik</td>
                        <td>SAY</td>
                        <td>225.627</td>
                        <td>290.013</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Kimya</td>
                        <td>SAY</td>
                        <td>230.556</td>
                        <td>289.289</td>
                    </tr>
                    <tr>
                        <td style="height:19px">İstatistik</td>
                        <td>SAY</td>
                        <td>220.888</td>
                        <td>274.683</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Matematik</td>
                        <td>SAY</td>
                        <td>263.279</td>
                        <td>407.084</td>
                    </tr>
                    <tr>
                        <td rowspan="8" style="height:154px">Mühendislik Fakültesi</td>
                        <td>Çevre Mühendisliği</td>
                        <td>SAY</td>
                        <td>253.909</td>
                        <td>293.492</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Kimya Mühendisliği</td>
                        <td>SAY</td>
                        <td>290.424</td>
                        <td>349.729</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Elektrik-Elektronik Mühendisliği (İngilizce)</td>
                        <td>SAY</td>
                        <td>410.991</td>
                        <td>438.637</td>
                    </tr>
                    <tr>
                        <td style="height:19px">İnşaat Mühendisliği&nbsp;</td>
                        <td>SAY</td>
                        <td>369.189</td>
                        <td>415.023</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Endüstri Mühendisliği</td>
                        <td>SAY</td>
                        <td>389.983</td>
                        <td>428.488</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Bilgisayar Mühendisliği (İngilizce)</td>
                        <td>SAY</td>
                        <td>411.123</td>
                        <td>453.785</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Makine Mühendisliği</td>
                        <td>SAY</td>
                        <td>378.054</td>
                        <td>402.360</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Malzeme Bilimi ve Mühendisliği (İngilizce)&nbsp;</td>
                        <td>SAY</td>
                        <td>288.330</td>
                        <td>351.007</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="height:77px">Mimarlık ve Tasarım Fakültesi</td>
                        <td>Endüstriyel Tasarım&nbsp;</td>
                        <td>SAY</td>
                        <td>312.767</td>
                        <td>375.003</td>
                    </tr>
                    <tr>
                        <td style="height:19px">İç Mimarlık</td>
                        <td>SAY</td>
                        <td>332.322</td>
                        <td>400.302</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Mimarlık</td>
                        <td>SAY</td>
                        <td>413.461</td>
                        <td>440.382</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Moda Tasarımı</td>
                        <td>EA</td>
                        <td>241.507</td>
                        <td>305.774</td>
                    </tr>
                    <tr>
                        <td rowspan="6" style="height:115px">Havacılık ve Uzay Bilimleri Fakültesi</td>
                        <td>Uçak Gövde-Motor Bakım</td>
                        <td>SAY</td>
                        <td>365.018</td>
                        <td>419.118</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Uçak Gövde-Motor Bakım&nbsp; (KKTC Uyruklu)</td>
                        <td>SAY</td>
                        <td>323.125</td>
                        <td>323.125</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Havacılık Elektrik ve Elektroniği</td>
                        <td>SAY</td>
                        <td>350.767</td>
                        <td>392.849</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Havacılık yönetimi</td>
                        <td>EA</td>
                        <td>328.787</td>
                        <td>373.096</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Pilotaj</td>
                        <td>SAY</td>
                        <td>494.166</td>
                        <td>507.932</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Pilotaj (KKTC Uyruklu)</td>
                        <td>SAY</td>
                        <td>435.563</td>
                        <td>435.563</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Spor Bilimleri Fakültesi</td>
                        <td>Spor Yöneticiliği</td>
                        <td>EA</td>
                        <td>259.288</td>
                        <td>372.232</td>
                    </tr>
                    <tr>
                        <td rowspan="8" style="height:154px">Porsuk Meslek Yüksekokulu</td>
                        <td>Basın ve Yayın Teknolojileri Programı</td>
                        <td>TYT</td>
                        <td>243.955</td>
                        <td>285.720</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Bilgisayar Programcılığı Programı</td>
                        <td>TYT</td>
                        <td>292.191</td>
                        <td>365.399</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Elektrik Enerjisi üretim, İletim ve Dağıtım Prg.</td>
                        <td>TYT</td>
                        <td>254.607</td>
                        <td>323.690</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Radyo ve Televizyon Teknolojisi Programı</td>
                        <td>TYT</td>
                        <td>246.307</td>
                        <td>333.233</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Mekatronik</td>
                        <td>TYT</td>
                        <td>280.350</td>
                        <td>377.274</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Makine, Resim ve Konstrüksiyon Programı</td>
                        <td>TYT</td>
                        <td>249.595</td>
                        <td>308.685</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Grafik Tasarım Programı</td>
                        <td>TYT</td>
                        <td>272.116</td>
                        <td>334.077</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Yapı Denetimi Programı</td>
                        <td>TYT</td>
                        <td>237.555</td>
                        <td>324.853</td>
                    </tr>
                    <tr>
                        <td rowspan="8" style="height:154px">Ulaştırma Meslek Yüksekokulu</td>
                        <td>Raylı Sistemler Elektirik ve Elektronik Tekn Prg.</td>
                        <td>TYT</td>
                        <td>277.298</td>
                        <td>348.064</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Raylı Sistemler Makine Teknolojisi Progamı</td>
                        <td>TYT</td>
                        <td>268.738</td>
                        <td>329.389</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Raylı Sistemler Makinistlik Progamı</td>
                        <td>TYT</td>
                        <td>282.793</td>
                        <td>360.448</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Raylı Sistemler Yol Teknolojisi Progamı</td>
                        <td>TYT</td>
                        <td>252.807</td>
                        <td>318.928</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Raylı Sistemler İşletmeciliği Progamı</td>
                        <td>TYT</td>
                        <td>256.506</td>
                        <td>347.972</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Sivil Havacılık Kabin Hizmetleri Programı</td>
                        <td>TYT</td>
                        <td>281.724</td>
                        <td>326.519</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Ulaştırma ve Trafik hizmetleri Progamı</td>
                        <td>TYT</td>
                        <td>226.991</td>
                        <td>271.145</td>
                    </tr>
                    <tr>
                        <td style="height:19px">Lojistik Programı</td>
                        <td>TYT</td>
                        <td>248.264</td>
                        <td>277.746</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="year2017-2018" class="container tab-pane card"><br>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th rowspan="2">FAKüLTE/MESLEK YüKSEKOKULU</th>
                        <th rowspan="2">PROGRAM</th>
                        <th>&nbsp;</th>
                        <th colspan="2">2017-2018</th>
                    </tr>
                    <tr>
                        <th>PUAN</th>
                        <th>TABAN</th>
                        <th>TAVAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="7">Fen Fakültesi</td>
                        <td>Biyoloji</td>
                        <td>MF2</td>
                        <td>248.716</td>
                        <td>322.316</td>
                    </tr>
                    <tr>
                        <td>Biyoloji (İngilizce) (UOLP-ABD State Universty of New York&nbsp; Universty at Albany
                            (ücretli)&nbsp;
                        </td>
                        <td>MF2</td>
                        <td>214.975</td>
                        <td>241.232</td>
                    </tr>
                    <tr>
                        <td>Fizik</td>
                        <td>MF2</td>
                        <td>237.753</td>
                        <td>262.004</td>
                    </tr>
                    <tr>
                        <td>Kimya</td>
                        <td>MF2</td>
                        <td>242.747</td>
                        <td>303.643</td>
                    </tr>
                    <tr>
                        <td>Kimya (İngilizce) (UOLP-ABD State Universty of New York&nbsp; Universty at Albany
                            (ücretli)&nbsp;</td>
                        <td>MF2</td>
                        <td>212.181</td>
                        <td>227.949</td>
                    </tr>
                    <tr>
                        <td>İstatistik</td>
                        <td>MF1</td>
                        <td>234.181</td>
                        <td>287.733</td>
                    </tr>
                    <tr>
                        <td>Matematik</td>
                        <td>MF1</td>
                        <td>278.494</td>
                        <td>350.307</td>
                    </tr>
                    <tr>
                        <td rowspan="8">Mühendislik Fakültesi</td>
                        <td>Çevre Mühendisliği</td>
                        <td>MF4</td>
                        <td>268.468</td>
                        <td>323.057</td>
                    </tr>
                    <tr>
                        <td>Kimya Mühendisliği</td>
                        <td>MF4</td>
                        <td>305.907</td>
                        <td>348.922</td>
                    </tr>
                    <tr>
                        <td>Elektrik-Elektronik Mühendisliği (İngilizce)</td>
                        <td>MF4</td>
                        <td>401.581</td>
                        <td>432.989</td>
                    </tr>
                    <tr>
                        <td>İnşaat Mühendisliği&nbsp;</td>
                        <td>MF4</td>
                        <td>381.243</td>
                        <td>395.302</td>
                    </tr>
                    <tr>
                        <td>Endüstri Mühendisliği</td>
                        <td>MF4</td>
                        <td>383.940</td>
                        <td>414.084</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar Mühendisliği (İngilizce)</td>
                        <td>MF4</td>
                        <td>395.864</td>
                        <td>414.215</td>
                    </tr>
                    <tr>
                        <td>Makine Mühendisliği</td>
                        <td>MF4</td>
                        <td>369.562</td>
                        <td>393.760</td>
                    </tr>
                    <tr>
                        <td>Malzeme Bilimi ve Mühendisliği (İngilizce)&nbsp;</td>
                        <td>MF4</td>
                        <td>301.732</td>
                        <td>347.232</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Mimarlık ve Tasarım Fakültesi</td>
                        <td>Endüstriyel Tasarım&nbsp;</td>
                        <td>MF4</td>
                        <td>328.963</td>
                        <td>391.636</td>
                    </tr>
                    <tr>
                        <td>İç Mimarlık</td>
                        <td>MF4</td>
                        <td>345.462</td>
                        <td>380.753</td>
                    </tr>
                    <tr>
                        <td>Mimarlık</td>
                        <td>MF4</td>
                        <td>415.131</td>
                        <td>437.197</td>
                    </tr>
                    <tr>
                        <td>Moda Tasarımı</td>
                        <td>TM2</td>
                        <td>281.413</td>
                        <td>370.587</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Havacılık ve Uzay Bilimleri Fakültesi</td>
                        <td>Uçak Gövde-Motor Bakım</td>
                        <td>MF4</td>
                        <td>364.708</td>
                        <td>409.636</td>
                    </tr>
                    <tr>
                        <td>Havacılık Elektrik ve Elektroniği</td>
                        <td>MF4</td>
                        <td>358.123</td>
                        <td>407.422</td>
                    </tr>
                    <tr>
                        <td>Havacılık yönetimi</td>
                        <td>TM1</td>
                        <td>348.428</td>
                        <td>388.735</td>
                    </tr>
                    <tr>
                        <td>Pilotaj</td>
                        <td>MF4</td>
                        <td>477.547</td>
                        <td>510.354</td>
                    </tr>
                    <tr>
                        <td>Spor Bilimleri Fakültesi</td>
                        <td>Spor Yöneticiliği</td>
                        <td>TM3</td>
                        <td>311.666</td>
                        <td>379.596</td>
                    </tr>
                    <tr>
                        <td rowspan="8">Porsuk Meslek Yüksekokulu</td>
                        <td>Basın ve Yayın Teknolojileri Programı</td>
                        <td>YGS5</td>
                        <td>233.543</td>
                        <td>324.499</td>
                    </tr>
                    <tr>
                        <td>Bilgisayar Programcılığı Programı</td>
                        <td>YGS1</td>
                        <td>241.460</td>
                        <td>315.532</td>
                    </tr>
                    <tr>
                        <td>Elektrik Enerjisi üretim, İletim ve Dağıtım Prg.</td>
                        <td>YGS1</td>
                        <td>202.434</td>
                        <td>289.327</td>
                    </tr>
                    <tr>
                        <td>Radyo ve Televizyon Teknolojisi Programı</td>
                        <td>YGS1</td>
                        <td>195.685</td>
                        <td>244.541</td>
                    </tr>
                    <tr>
                        <td>Mekatronik</td>
                        <td>YGS1</td>
                        <td>232.778</td>
                        <td>325.596</td>
                    </tr>
                    <tr>
                        <td>Makine, Resim ve Konstrüksiyon Programı</td>
                        <td>YGS1</td>
                        <td>194.235</td>
                        <td>287.954</td>
                    </tr>
                    <tr>
                        <td>Grafik Tasarım Programı</td>
                        <td>YGS5</td>
                        <td>268.376</td>
                        <td>391.467</td>
                    </tr>
                    <tr>
                        <td>Yapı Denetimi Programı</td>
                        <td>YGS1</td>
                        <td>168.909</td>
                        <td>258.412</td>
                    </tr>
                    <tr>
                        <td rowspan="9">Ulaştırma Meslek Yüksekokulu</td>
                        <td>Raylı Sistemler Elektirik ve Elektronik Tekn Prg.</td>
                        <td>YGS1</td>
                        <td>229.400</td>
                        <td>289.564</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makine Teknolojisi Progamı</td>
                        <td>YGS1</td>
                        <td>224.059</td>
                        <td>288.554</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Makinistlik Progamı</td>
                        <td>YGS1</td>
                        <td>249.861</td>
                        <td>295.659</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler Yol Teknolojisi Progamı</td>
                        <td>YGS1</td>
                        <td>190.346</td>
                        <td>285.706</td>
                    </tr>
                    <tr>
                        <td>Raylı Sistemler İşletmeciliği Progamı</td>
                        <td>YGS6</td>
                        <td>225.870</td>
                        <td>320.786</td>
                    </tr>
                    <tr>
                        <td>Sivil Havacılık Kabin Hizmetleri Programı</td>
                        <td>YGS5</td>
                        <td>276.125</td>
                        <td>348.141</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik hizmetleri Progamı</td>
                        <td>YGS5</td>
                        <td>215.507</td>
                        <td>281.875</td>
                    </tr>
                    <tr>
                        <td>Ulaştırma ve Trafik hizmetleri Progamı (KKTC Uyruklu)</td>
                        <td>YGS5</td>
                        <td>219.877</td>
                        <td>219.877</td>
                    </tr>
                    <tr>
                        <td>Lojistik Programı</td>
                        <td>YGS6</td>
                        <td>224.334</td>
                        <td>287.711</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}