{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block extra-css %}
<style>
    h3{
        margin-top: 30px;
    }
    </style>
{% endblock %}

{% block content %}


<br>
<div class="container" style="padding-top: 66px;" id="tercihGunleri">
    <div class="card card-body">
        <h1>ESTÜ Tanıtım Filmleri</h1>
        
        <h3>Fen Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/17OaNVxCSKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Havacılık ve Uzay Bilimleri Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/w0vE6MOiLx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Araştırma ve Lisansüstü Süreçler Direktörlüğü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/_zQUIABueIc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Lisansüstü Eğitim Enstitüsü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/n83BdFWE45g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Mimarlık ve Tasarım Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/WSWPXcTB6Cw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Mühendislik Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/riQjt8RGj4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Öğrenci Dekanlığı Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/nAMTL-ztzwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Porsuk Meslek Yüksekokulu Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/gvlwiZRYrGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Spor Bilimleri Fakültesi Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/0wkNhw4Rdb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <h3>Ulaştırma Meslek Yüksekokulu Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/RGyqcxxJhIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Yer ve Uzay Bilimleri Enstitüsü Tanıtım Filmi</h3>
        <iframe height="500" src="https://www.youtube.com/embed/fhPBGI5FlQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
</div>
<br>

{% endblock %}