{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}


{% block extra-css %}
<style>
    #tercihGunleri td, strong, h2,h3,h6 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 14pt;
    }

    #tercihGunleri h2 {
        font-size: 20pt;
        font-weight: bold;
    }

    #tercihGunleri h6 {
        font-size: 16pt;

    }

    .rowMargin td {
        padding-bottom: 20px;
    }

    #youtubeIcon {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
</style>
{% endblock extra-css %}


{% block content %}

<div class="container" style="padding-top: 66px;" id="tercihGunleri">
    <br>
<div class="alert alert-info">
    Bilgiler en kısa zamanda duyurulacaktır.
</div>


{% comment %}
<br>
    <div class="card card-body">
        <h2 class="text-center">ESKİŞEHİR TEKNİK ÜNİVERSİTESİ</h2>
        <h2 class="text-center">TERCİH GÜNLERİ 2020 PROGRAMI</h2>
        <h6 class="text-center">6-7 Ağustos 2020</h6>

        <br>


        <h6 class="font-weight-bold">6 Ağustos 2020 Perşembe Zoom Toplantısı </h6>

        <table class="rowMargin table table-borderless">
            <tr style="margin:50px">
                <td valign="top">11:00-13:00</td>
                <td>
                    <strong>Üniversitenin Genel Tanıtımı</strong> <br>
                    Rektör Prof. Dr. Tuncay DÖĞEROĞLU <br>
                    Eğitimden Sorumlu Rektör Yrd. Prof. Dr. Gürsoy ARSLAN <br>
                    Araştırmadan Sorumlu Rektör Yrd. Prof. Dr. Mustafa ŞENYEL <br>
                    Öğrenci Dekanı Prof. Dr. Müfide BANAR <br>
                    Araştırma ve Lisansüstü Süreçler Direktörü Prof. Dr. Servet TURAN <br>
                    <strong>Meeting ID:</strong> 930 6869 5800 <br>
                    <strong>Password:</strong> 499631
                </td>
            </tr>

            <tr>
                <td valign="top">14:00-15:00</td>
                <td>
                    <strong>ESTÜ’lü Olmak… (Soru-Cevap)</strong> <br>
                    Öğrenci Dekanlığı <br>
                    Öğrenci İşleri Daire Başkanlığı <br>
                    Kurumsal İletişim Birimi <br>
                    Uluslararası İlişkiler Birimi <br>
                    Öğrenci Kulüpleri Koordinatörlüğü <br>
                    <strong>Meeting ID:</strong> 973 6417 2866 <br>
                    <strong>Password:</strong> 362303

                </td>
            </tr>
        </table>

        <h6 class="font-weight-bold">7 Ağustos 2020 Cuma Zoom Toplantısı </h6>

        <table class="rowMargin table table-borderless">
            <tr>
                <th></th>
                <th><strong>Fakülte, Enstitü ve Meslek Yüksekokulu Tanıtımları</strong></th>
            </tr>
            <tr>
                <td>11.00-11.45</td>
                <td>Fen Fakültesi Dekanlık Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 912 5436 9142 <br>
                    <strong>Password:</strong> 304545
                </td>
            </tr>

            <tr>
                <td>12.00-12.45</td>
                <td>Havacılık ve Uzay Bilimleri Fakültesi Dekanlık Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 955 9863 4794
                    <br>
                    <strong>Password:</strong> 669664
                </td>
            </tr>
            <tr>
                <td>13.00-13.45</td>
                <td>Mimarlık ve Tasarım Fakültesi Dekanlık Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 950 5789 4671
                    <br>
                    <strong>Password:</strong> 159656
                </td>
            </tr>
            <tr>
                <td>14.00-14.45</td>
                <td>Mühendislik Fakültesi Dekanlık Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 972 6389 4402
                    <br>
                    <strong>Password:</strong> 091594
                </td>

            </tr>
            <tr>
                <td>15.00-15.45</td>
                <td>Spor Bilimleri Fakültesi Dekanlık Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 928 1803 3228
                    <br>
                    <strong>Password:</strong> 456702

                </td>
            </tr>
            <tr>
                <td>16:00-16.45</td>
                <td>Porsuk Meslek Yüksekokulu Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 944 2602 0087
                    <br>
                    <strong>Password:</strong> 932271

                </td>
            </tr>
            <tr>
                <td>17:00-17:45</td>
                <td>Ulaştırma Meslek Yüksekokulu Yönetimi ve Bölüm Başkanları
                    <br>
                    <strong>Meeting ID:</strong> 980 8716 3072
                    <br>
                    <strong>Password:</strong> 897953

                </td>
            </tr>
            <tr>
                <td>18:00-18:45</td>
                <td>Lisansüstü Eğitim Enstitüsü Yönetimi
                    <br>
                    <strong>Meeting ID:</strong> 952 0988 7731
                    <br>
                    <strong>Password:</strong> 701853
                </td>
            </tr>


        </table>
        <a href="https://bit.ly/33uiSzr" target="_blank">
            <i class='fab fa-youtube' id="youtubeIcon" ></i>
            YouTube dan canlı izlemek için tıklayınız.
        </a>
        
    </div>
    {% endcomment %}
</div>
<br>
    

{% endblock %}