{% extends 'base_site.html' %}
{% load static %}

{% block content %}

    <div class="container" style="padding-top: 70px;">
        <h2>Yorumlar</h2>

        <!--
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseFilters"
                aria-expanded="false" aria-controls="collapseFilters">
            Filtrele
        </button>

        <br>
        <div class="collapse" id="collapseFilters">
            <div class="card card-body">
                <form class="form">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="id_fakulte">Fakülteye göre</label>
                            <select name="fakulte" id="id_fakulte" class="form-control">
                                <option value="">-----------------</option>
                                {% for fakulte in fakulteler %}
                                    <option value="{{ fakulte.pk }}">{{ fakulte.baslik }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="id_bolum">Bölüme göre</label>
                            <select name="bolum" id="id_bolum" class="form-control">
                                <option value="">-----------------</option>
                                {% for bolum in bolumler %}
                                    <option value="{{ bolum.pk }}">{{ bolum.baslik }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-4">
                            <label for="id_gorev">Mezuniyet durumuna göre</label>
                            <select name="gorev" id="id_gorev" class="form-control">
                                <option value="">-----------------</option>
                                {% for gorev_id, gorev in gorevler %}
                                    <option value="{{ gorev_id }}">{{ gorev }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-primary" type="submit">Filtrele</button>
                    <button class="btn btn-secondary" type="reset">Temizle</button>
                    <a href="{% url 'siteapp:yorum_list' %}" class="btn btn-danger" role="button">Sıfırla</a>
                </form>
            </div>
        </div>
        -->

        <div class="row">
            {% for yorum in yorumlar %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card p-2">
                        {% if yorum.resim %}
                            <img src="{{ yorum.resim.url }}" alt="" class="card-img avatar">
                        {% endif %}
                        <a data-target="#modal-{{ yorum.pk }}" data-toggle="modal">
                            <div class="card-body">

                                <h3 class="text-center">{{ yorum.adsoyad }}</h3>
                                <p class="text-center text-muted">
                                    {{ yorum.rol|default_if_none:"" }} <br>
                                    {{ yorum.get_gorev_display }}
                                </p>
                                <p class="text-justify" style="text-align: justify">
                                    {{ yorum.yazi|truncatechars:250 }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade " id="modal-{{ yorum.pk }}" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
                         role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="row">
                                    {% if yorum.resim %}
                                        <img src="{{ yorum.resim.url }}" alt="" class="card-img avatar col-3">
                                    {% endif %}
                                    <div class="col-9">
                                        <h2>{{ yorum.adsoyad }}</h2>
                                        <p>
                                            {{ yorum.rol }} <br>
                                            {{ yorum.get_gorev_display }}
                                        </p>
                                    </div>
                                </div>
                                <p class="card-text text-justify" style="font-size: 1rem;">
                                    {{ yorum.yazi }}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ queries.urlencode }}&amp;page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?{{ queries.urlencode }}&amp;page={{ page_obj.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if p <= page_obj.number|add:5 and p >= page_obj.number|add:-5 %}
                        <li class="page-item {% if p == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?{{ queries.urlencode }}&amp;page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ queries.urlencode }}&amp;page={{ 1 }}">1</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ queries.urlencode }}&amp;page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?{{ queries.urlencode }}&amp;page={{ page_obj.paginator.num_pages }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

{% endblock %}