<section>
    <div class="container-fluid">
        <h3>Mezunlarımız Sesleniyor</h3>

        
        <div class="row m-0">
            {% for video in mezunsesleniyor_videos %}
        <div class="col-12 col-md-6 col-lg-4 p-2 m-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source src="{{video.video.url}}">
                </video>
              </div>
        </div>
        {% endfor %}
        </div>
            
    </div>
</section>